{% extends "users/settings/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-9" align="center">
                <h3 class="custom-header font-normal">{{ heading }}</h3>
            </div>
        </div>
        {% include "form_messages.html" %}
        {% if form.address_id.data %}
        <form class="form-horizontal" action="{{url_for('user_address_detail_view', address_id=form.address_id.data)}}"
              method="POST">
            {% else %}
            <form class="form-horizontal" action="{{url_for('user_address_add_view')}}" method="POST">
                {% endif %}
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form.address_id(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="address">Address:</label>
                    <div class="col-sm-9">
                        {{ form.address(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="">Address 1:</label>
                    <div class="col-sm-9">
                        {{ form.address_1(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="">Address 2:</label>
                    <div class="col-sm-9">
                        {{ form.address_2(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="">City:</label>
                    <div class="col-sm-9">
                        {{ form.city(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="">State/Province:</label>
                    <div class="col-sm-9">
                        {{ form.state(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="">Zip-code:</label>
                    <div class="col-sm-9">
                        {{ form.zipcode(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3 custom-font-form" for="">Country:</label>
                    <div class="col-sm-9">
                        {{ form.country(class="form-control input-lg")}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-lg form-full-width">Submit</button>
                    </div>
                </div>
            </form>
        </form>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
{% endblock %}
