{% extends "users/settings/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12" align="center">
        <h3 class="custom-header">{{ heading }}</h3>
    </div>
</div>
<table class="table table-hover table-responsive custom-table">
    <thead class="custom-table-thead">
    <tr>
        <th>Address</th>
        <th>Address 1</th>
        <th>Address 2</th>
        <th>City</th>
        <th>State</th>
        <th>Zipcode</th>
        <th>Country</th>
    </tr>
    </thead>
    <tbody>
    {% for address in addresses %}
    <tr>
        <td>
            <a href="{{ url_for('user_address_detail_view', address_id=address.id) }}">{{ address.address }}</a>
        </td>
        <td>{{ address.address_1 }}</td>
        <td>{{ address.address_2 }}</td>
        <td>{{ address.city }}</td>
        <td>{{ address.state }}</td>
        <td>{{ address.zipcode }}</td>
        <td>{{ address.country }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('user_address_add_view') }}" class="btn btn-primary">Add New
    Address</a>

{% endblock %}
