{% extends "users/settings/base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12" align="center">
                <h3 class="custom-header font-normal">{{ heading }}</h3>
            </div>
        </div>
        {% include "form_messages.html" %}
        <form class="form-horizontal" action="{{url_for('add_product_view')}}" method="POST">
            <div class="login-form-radius">{{ form.hidden_tag() }}</div>
            <div class="login-form-radius">
                {{ form.name(class="form-control input-lg", placeholder="Name", required=required)}}
            </div>
            <div class="login-form-radius">
                {{ form.description(class="form-control input-lg", placeholder="Description", required=required)}}
            </div>

            <div class="login-form-radius">{{ form.category(class="form-control input-lg")}}
            </div>
            <div class="login-form-radius">
                <button type="submit" class="btn btn-primary btn-lg form-full-width">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>
{% endblock %}
