.account-top input[type="email"], .register-top-grid input[type="email"] {
    padding: 1em;
    width: 100%;
    background: none;
    border: 1px solid #A09F9F;
    outline: none;
    font-size: 1em;
}

.close_box{
  background: url('../images/close_1.png') no-repeat 0px 0px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  position: absolute;
  right: 0px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.img-custom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.img-custom1{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  max-height: 100%;
}

.product-list1{
  width:160px;
  height:160px;
  overflow:hidden;
}

.cart-item-info{
  float: none;
  width:auto;
  padding-top: 10px;
}

.cart-item img {
  width:auto;
}

.product-list{
  width:auto;
  height:220px;
  overflow:hidden;
  margin-top:10px;
}
.custom-font{
  font-size:14pt;
}
.custom-success{
  font-size:16pt;
  padding: 14px;
}

.custom-continue{
  width: 100%;
  background: #EF5F21;
  padding: 10px 20px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  display: block;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2em;
  border:none;
}

.custom-panel{
  padding: 20px 0px 20px 10px;
}
.custom-width-col{
  width:150px;
}

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }
.custom-menu{margin-top:20px;}
a:hover{text-decoration: none; font-weight:bold;}
a:link {text-decoration: none;}
.custom-header{
  margin: 10px;
  font-size: 18pt;
}
.custom-table{
  border: 1px #ddd solid;
}
.custom-table-thead{
  background: #f5f5f5;
}
.login-title{
  text-align: center;
  padding-bottom: 10px;
  font-size: 15pt;
}
.login-form-radius{
  border-radius:7px;
  margin-top:10px;
}
.form-full-width{
  width:100%;
}
.font-normal{
  font-weight:normal;
}
.custom-font-form{
  font-weight:normal;
  font-size:Large;
}
.custom-contact-font{
  color:#EF5F21;
}
.custom-contact-bg{
  background:#EF5F21;
  height:50px;
  border-radius:4px;
}
.custom-contact-border{
  border-right:1px #ddd solid;
  border-left:1px #ddd solid;
  min-height:90px;
  margin-bottom:10px;
  margin-top:10px;
}
.custom-contact-img{
  margin:20px;
}
.custom-contact-header{
  padding:20px 0px 20px 0px;
  border-bottom:1px #ddd solid;
  width: 400px;
}
.custom-product-detail-img{
  width: auto;
  height: 420px;
  overflow: hidden;
  margin-top: 10px
}
.custom-product-detail-title{
  color: #000;
}
.custom-product-detail-btn, .custom-product-detail-btn:hover{
  background-color: #ff5705;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}
.custom-product-detail-btn1, .custom-product-detail-btn1:hover{
  border: #ff5705 1px solid;
  padding: 8px;
  color:#000;
  border-radius: 4px;
}
