<!--header-->
<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="search">
        <form action="{{ url_for('products_list_view') }}" method="GET">
          <div class="input-group">
            <input name="search" type="text" class="form-control" placeholder="Search">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">Search</button>
            </div>
          </div>
        </form>
      </div>
      <div class="header-left">
        {% if not current_user.is_authenticated %}
        <ul>
          <li><a class="lock" href="{{ url_for('login') }}" >Login</a></li>
          <li><a class="lock" href="{{ url_for('signup') }}" >Signup</a></li>
          <li></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="{{ url_for('user_setting_view') }}">Settings</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <div class="cart box_1">
          <a href="{{ url_for('user_checkout_view') }}">
            <h3>
              <div class="total">
                <!-- Insert count here -->
                <span>{{current_user.get_number_of_items_in_cart()}}</span>
                <span>Items</span>
              </div>
              <img src="{{ url_for('static', filename='images/cart.png') }}" alt=""/>
            </h3>
          </a>
          <p><a href="{{ url_for('user_checkout_view') }}">{{current_user.email}}</a></p>
        </div>
        {% endif %}
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="container">
    <div class="head-top">
      <div class="logo">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
      </div>
      <div class=" h_menu4">
        <ul class="memenu skyblue">
          <li {% if request.path == "/" %} class="active"{% endif %}><a class="color1" href="{{ url_for('index') }}">Home</a></li>
          <li {% if request.path == "/products/list" %} class="active"{% endif %}><a class="color1" href="{{ url_for('products_list_view') }}">Shop</a></li>
          <li {% if request.path == "/contact" %} class="active"{% endif %}><a class="color1" href="{{ url_for('contact_view') }}">Contact</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
