<!--header-->
<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="search">
        <form>
          <input type="text" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
          <input type="submit" value="Go">
        </form>
      </div>
      <div class="header-left">
        {% if not current_user.is_authenticated %}
        <ul>
          <li><a class="lock" href="{{ url_for('login') }}" >Login</a></li>
          <li><a class="lock" href="{{ url_for('signup') }}" >Signup</a></li>
          <li></li>
        </ul>
        {% else %}
        <ul>
          <li><a href="{{ url_for('user_setting_view') }}">Settings</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
        <div class="cart box_1">
          <a href="{{ url_for('user_checkout_view') }}">
            <h3>
              <div class="total">
                <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)</div>
              <img src="{{ url_for('static', filename='images/cart.png') }}" alt=""/>
            </h3>
          </a>
          <p><a href="{{ url_for('user_checkout_view') }}">{{current_user.email}}</a></p>
        </div>
        {% endif %}
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="container">
    <div class="head-top">
      <div class="logo">
        <a href="{{ url_for('index') }}">
          <img src="{{ url_for('static', filename='images/logo.png') }}" alt=""></a>
      </div>
      <div class=" h_menu4">
        <ul class="memenu skyblue">
          <li class="active grid"><a class="color8" href="{{ url_for('index') }}">Home</a></li>
          <li><a class="color1" href="#">Shop</a>
            <div class="mepanel">
              <div class="row">
                <div class="col1">
                  <div class="h_nav">
                    <ul>
                      <li><a href="{{ url_for('products_list_view') }}">Accessories</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Bags</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Caps & Hats</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Hoodies & Sweatshirts</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Jackets & Coats</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Jeans</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Jewellery</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Jumpers & Cardigans</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Leather Jackets</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Long Sleeve T-Shirts</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Loungewear</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <ul>
                      <li><a href="{{ url_for('products_list_view') }}">Shirts</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Shoes, Boots & Trainers</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Shorts</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Suits & Blazers</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Sunglasses</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Sweatpants</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Swimwear</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Trousers & Chinos</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">T-Shirts</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Underwear & Socks</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Vests</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col1">
                  <div class="h_nav">
                    <h4>Popular Brands</h4>
                    <ul>
                      <li><a href="{{ url_for('products_list_view') }}">Levis</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Persol</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Nike</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Edwin</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">New Balance</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Jack & Jones</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Paul Smith</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Ray-Ban</a></li>
                      <li><a href="{{ url_for('products_list_view') }}">Wood Wood</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li><a class="color6" href="{{ url_for('contact_view') }}">Contact</a></li>
        </ul>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
