{% extends "base_templates/base.html" %}

{% block container %}
<div class="container">

    <div class="col-md-12" align="center">

        <div class="row">
            <div class="col-md-12"><br/><h3>Your shopping bag is empty!</h3><br/></div>
            <hr/>
        </div>
        <div class="row">
            <div class="col-md-4">&nbsp;</div>
            <div class="col-md-4"><a class="continue" href="{{ url_for('products_list_view') }}">Continue to basket</a>
            </div>
            <div class="col-md-4">&nbsp;</div>
        </div>

        <span class="custom-font">Great Deals at great price! Shop Now to grab this golden opportunity!!!</span><br/><br/>

        <span><img class="img-responsive" src="http://res.cloudinary.com/dos7zqrjl/image/upload/v1511224041/sale5_r3ruhj.jpg" alt=""></span><br/><br/>

    </div>

</div>
{% endblock %}
