{% extends "base_templates/base.html" %}

{% block container %}
<div class="container">
    <div class="check">

        <div class="row">
            <span class="col-md-3">&nbsp;</span>
            <h1 class="col-md-6 label label-success">
                <span class="center-block custom-success">Congratulations! Your order has been placed.</span>
            </h1>
            <span class="col-md-3">&nbsp;</span>
        </div>

        <h1>Order Summary</h1>
        <span>Order-id: #O102R23</span><br/>
        <span>Date: {{ order_details.date }}</span><br/><br/>
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order Details</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}
                    <tr>
                        <td>{{ product.get_display_name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.get_price }}</td>
                        <td>{{ product.get_discount }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>&nbsp;</td>
                        <td>Sub-total</td>
                        <td>{{ order_details.total }}</td>
                        <td>{{ order_details.discount }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>TAX
                            <small> (15%)</small>
                        </td>
                        <td>{{ order_details.tax }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Total</td>
                        <td>{{ order_details.net }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">.

                <p>
                <h4>Shipping Address:</h4><br/>
                John Carter,<br/>
                1500 Sparkman Drive,<br/>
                HSV, AL, 35816<br/>
                Phone: +1-256-527-1111<br/>
                <br/>
                {{ order_details.address}}
                </p>
                <a class="order" href="{{ url_for('products_list_view') }}">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
