{% extends "base_templates/base.html" %}

{% block container %}
<div class="container">
    <div class="check">
        <h1>Order Summary</h1>
        Date: {{ cart_details.date }}<br/><br/>
        <div class="row">
            <div class="col-md-8">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Order Details</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for product in products %}
                    <tr>
                        <td>{{ product.get_display_name }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.get_price }}</td>
                        <td>{{ product.get_discount }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td>&nbsp;</td>
                        <td>Sub-total</td>
                        <td>{{ cart_details.total }}</td>
                        <td>{{ cart_details.discount }}</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>TAX
                            <small> (15%)</small>
                        </td>
                        <td>{{ cart_details.tax }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>Total</td>
                        <td>{{ cart_details.net }}</td>
                        <td>&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-4">.

                <p>
                <h4>Shipping Address:</h4><br/>
                John Carter,<br/>
                1500 Sparkman Drive,<br/>
                HSV, AL, 35816<br/>
                Phone: +1-256-527-1111<br/>
                <br/>
                {{ cart_details.address}}
                </p>
                <!--<a class="order" href="{{ url_for('user_order_view') }}">Confirm Order</a>-->
            </div>
        </div>
    </div>
</div>
{% endblock %}
