{% extends "base_templates/base.html" %}

{% block container %}
<div class="container">
    <div class="check">
        <div class="row">
            <div class="col-md-8" align="center">
                <h4><b>Add shipping address to continue:</b></h4><br/>
                Shipping address form
                </p>
            </div>

            <div class="col-md-4">
                <a class="continue" href="{{ url_for('user_order_view') }}">
                    Continue to Checkout
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
