{% extends "base_templates/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block container %}
<div class="container">
  <div class="account">
  <h1>{{ _('Login') }}</h1>
    <div class="account-pass">
      <div class="col-md-8 account-top">
        <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
          {{ login_user_form.hidden_tag() }}
          {{ render_field_with_errors(login_user_form.email) }}
          {{ render_field_with_errors(login_user_form.password) }}
          {{ render_field_with_errors(login_user_form.remember) }}
          {{ render_field(login_user_form.next) }}
          {{ render_field(login_user_form.submit) }}
        </form>
      </div>
      <div class="col-md-4 left-account ">
        <a href="single.html">
          <img class="img-responsive " src="{{ url_for('static', filename='images/s1.jpg') }}" alt=""></a>
        <div class="five">
          <h2>25% </h2><span>discount</span>
        </div>
        <a href="register.html" class="create">Create an account</a>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

{% include "security/_menu.html" %}
{% endblock %}
