{% extends "base_templates/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block container %}
{% include "security/_messages.html" %}
<div class=" container">
  <div class=" register">
    <h1>{{ _('Register') }}</h1>
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form">
      {{ register_user_form.hidden_tag() }}
      <div class="col-md-6 register-top-grid">
        <h3>Personal infomation</h3>
        <div>
          <span>First Name</span>
          <input type="text">
        </div>
        <div>
          <span>Last Name</span>
          <input type="text">
        </div>
        <div>
          {{ render_field_with_errors(register_user_form.email) }}
        </div>
        <!-- <a class="news-letter" href="#"> -->
        <!--   <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label> -->
        <!-- </a> -->
      </div>
      <div class="col-md-6 register-bottom-grid">
        <h3>Login information</h3>
        <div>
          {{ render_field_with_errors(register_user_form.password) }}
        </div>
        {% if register_user_form.password_confirm %}
        {% endif %}
        <div>
          {{ render_field_with_errors(register_user_form.password_confirm) }}
        </div>
        {{ render_field(register_user_form.submit) }}

      </div>
      <div class="clearfix"> </div>
    </form>
  </div>
</div>
{% endblock %}
