{% extends "products/base.html" %}

{% block page_head %}
<!-- FlexSlider -->
<script defer src="{{ url_for('static', filename='js/jquery.flexslider.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css" media="screen">
<script>
  // Can also be used with $(document).ready()
$(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide",
    controlNav: "thumbnails"
  });
});
</script>
{% endblock %}

{% block content %}
<div class="col-md-5 single-top">
  <div class="flexslider">
    <ul class="slides">

      <li data-thumb="{{ product.get_image_url }}">
        <img class="img-responsive" src="{{ product_image_url }}" alt="">
      </li>
    </ul>
  </div>
</div>


<div class="col-md-7 single-top-in simpleCart_shelfItem">
  <div class="single-para">
    <h4>{{product.name}}</h4>


    <div class="star-on">
      <ul class="star-footer">
        <li>
          <a href="#"></a>
        </li>


        <li>
          <a href="#"></a>
        </li>


        <li>
          <a href="#"></a>
        </li>


        <li>
          <a href="#"></a>
        </li>


        <li>
          <a href="#"></a>
        </li>
      </ul>


      <div class="clearfix">
      </div>
    </div>
    <h5 class="item_price">$ {{product.get_price}}</h5>
    <p>{{product.description}}</p>
    <div class="available">
      <div class="row">
        <div class="col-md-3">
          <span><strong>Choices</strong></span>
        </div>
        <div class="col-md-9">
          {% for product_attribute in product.attributes %}
          {% if product_attribute.id != attribute.id %}
          <a class="btn btn-default" href="{{ url_for('product_detail_view', product_id=product.id, attribute_id=product_attribute.id) }}">{{ product_attribute.generate_display_name }}</a>
          {% else %}
          <a class="btn btn-primary">{{ product_attribute.generate_display_name }}</a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <ul class="tag-men">
      <li><span>TAG</span> <span class="women1">: Women,</span></li>
      <li><span>SKU</span> <span class="women1">: CK09</span></li>
    </ul>
    <a href="{{ url_for('add_product_to_cart', product_id=product.id, attribute_id=attribute.id) }}" class="add-cart item_add">ADD TO CART</a>
  </div>
</div>


<div class="clearfix">
</div>
<!---->

<div class="cd-tabs">
  <nav>
    <ul class="cd-tabs-navigation">
      <li>
        <a data-content="fashion" href="#0">Description</a>
      </li>

      <li>
        <a data-content="cinema" href="#0">Addtional Informatioan</a>
      </li>

      <li>
        <a data-content="television" href="#0" class="selected">Reviews (1)</a>
      </li>
    </ul>
  </nav>


  <ul class="cd-tabs-content">
    <li data-content="fashion">
      <div class="facts">
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined</p>


        <ul>
          <li>Research</li>


          <li>Design and Development</li>


          <li>Porting and Optimization</li>


          <li>System integration</li>


          <li>Verification, Validation and Testing</li>


          <li>Maintenance and Support</li>
        </ul>
      </div>
    </li>


    <li data-content="cinema">
      <div class="facts1">
        <div class="color">
          <p>Color</p>
          <span>Blue, Black, Red</span>

          <div class="clearfix">
          </div>
        </div>


        <div class="color">
          <p>Size</p>
          <span>S, M, L, XL</span>

          <div class="clearfix">
          </div>
        </div>
      </div>
    </li>

    <li data-content="television" class="selected">
      <div class="comments-top-top">
        <div class="top-comment-left"><img class="img-responsive" src="{{ url_for('static', filename='images/co.png') }}" alt="">
        </div>

        <div class="top-comment-right">
          <h6><a href="#">Hendri</a> - September 3, 2014</h6>

          <ul class="star-footer">
            <li> <a href="#"></a> </li>
            <li> <a href="#"></a> </li>
            <li> <a href="#"></a> </li>
            <li> <a href="#"></a> </li>
            <li> <a href="#"></a> </li>
          </ul>

          <p>Wow nice!</p>
        </div>

        <div class="clearfix">
        </div>
        <a class="add-re" href="#">ADD REVIEW</a>
      </div>
    </li>

    <div class="clearfix">
    </div>
  </ul>
</div>

<div class="bottom-product">
  <div class="col-md-4 bottom-cd simpleCart_shelfItem">
    <div class="product-at">
      <a href="#"><img class="img-responsive" src="{{ url_for('static', filename='images/pi3.jpg') }}" alt="">

        <div class="pro-grid">
          <span class="buy-in">Buy Now</span>
      </div></a>
    </div>

    <p class="tun">It is a long established fact that a reader</p>
    <a href="#" class="item_add">
      <p class="number item_price">$500.00</p></a>
  </div>

  <div class="col-md-4 bottom-cd simpleCart_shelfItem">
    <div class="product-at">
      <a href="#"><img class="img-responsive" src="{{ url_for('static', filename='images/pi1.jpg') }}" alt="">

        <div class="pro-grid">
          <span class="buy-in">Buy Now</span>
      </div></a>
    </div>

    <p class="tun">It is a long established fact that a reader</p>
    <a href="#" class="item_add">
      <p class="number item_price">$500.00</p></a>
  </div>

  <div class="col-md-4 bottom-cd simpleCart_shelfItem">
    <div class="product-at">
      <a href="#"><img class="img-responsive" src="{{ url_for('static', filename='images/pi4.jpg') }}" alt="">

        <div class="pro-grid">
          <span class="buy-in">Buy Now</span>
      </div></a>
    </div>

    <p class="tun">It is a long established fact that a reader</p>
    <a href="#" class="item_add">
      <p class="number item_price">$500.00</p></a>
  </div>

  <div class="clearfix">
  </div>
</div>
{% endblock %}
