{% extends "users/settings/base.html" %}

{% block content %}
<div class="custom-panel">
    <table class="table table-hover table-responsive break-word-table" border="1">
        <thead>
        <tr>
            <th>OrderId</th>
            <th>User Id</th>
            <th>Date Created</th>
            <th>Date Updated</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {%for order in orders%}
        <tr>
            <td>
                <a href="{{ url_for('order_detail', order_id=order.id) }}">
                    {{order.id}}
                </a>

            <td>
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                   href="#collapse_{{order.id}}">
                    {{order.user.id}}
                </a>
            </td>

            <td>{{order.created_on}}</td>

            <td>{{order.updated_on}}</td>

            <td class="custom-width-col">
                <div class="btn-group">
                    <div class="dropdown">
                        {% if order.status == "PENDING" %}
                        <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                            <span>{{order.status}}</span> &nbsp;
                            <span class="caret"></span>
                        </button>
                        {% elif order.status == "ON GOING" %}
                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                            <span>{{order.status}}</span> &nbsp;
                            <span class="caret"></span>
                        </button>
                        {% elif order.status == "DELIVERED" %}
                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            <span>{{order.status}}</span> &nbsp;
                            <span class="caret"></span>
                        </button>
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ url_for('order_status_change',order_id = order.id,status='PENDING') }}"
                                   method="POST">PENDING</a>
                            </li>
                            <li>
                                <a href="{{ url_for('order_status_change',order_id = order.id,status='ON GOING') }}"
                                   method="POST">ON GOING</a>
                            </li>
                            <li>
                                <a href="{{ url_for('order_status_change',order_id = order.id,status='DELIVERED') }}"
                                   method="POST">DELIVERED</a>
                            </li>

                        </ul>
                    </div>
                </div>

            </td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>

<br/>

{% endblock %}
