{% extends "base_templates/base_with_sidebar.html" %}

{% block sidebar %}
<div class="rsidebar span_1_of_left">
  <div class="of-left">
    <h3>User</h3>
  </div>
  <ul class="menu">
    <li class="item"><a href="#">User Information</a>
      <ul>
        <li class="subitem1"><a href="{{ url_for('user_info_view') }}">Personal Information</a></li>
        <li class="subitem1"><a href="{{ url_for('user_address_list_view') }}">Address List</a></li>
      </ul>
    </li>
  </ul>
</div>

{% if current_user.is_admin %}
<div class="sellers">
  <div class="of-left-in">
    <h3>Admin</h3>
  </div>
  <ul class="menu">
    <li class="item"><a href="#">Products</a>
      <ul>
        <li class="subitem1"><a href="{{ url_for('add_product_view') }}">Add Product</a></li>
      </ul>
    </li>
  </ul>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% include "form_messages.html" %}
{% endblock %}
