{% extends "base_templates/base.html" %}

{% block container %}
<div class="container">
    <div class="account">
        <div class="account-pass">
            <div class="col-md-8 account-top">
                <div class="col-md-6" style="border-radius:7px; padding: 20px; border: #A09F9F 1px solid;">
                    <h3 class="login-title">Login to Your Account</h3>
                    {% include "form_messages.html" %}
                    <form action="{{ url_for('login') }}" method="POST">
                        {{ form.hidden_tag() }}

                        <input type="email" class="login-form-radius" name="email" required placeholder="Email">
                        <input type="password" class="login-form-radius" name="password" required
                               placeholder="Password">

                        <input type="submit" style="border-radius:7px; width:100%; height:50px; margin-bottom:10px;" value="Login">
                        <a style="text-slign:center;" href="{{ url_for('signup') }}">Sign up! Create a new account</a>
                    </form>
                </div>
            </div>
            <div class="col-md-4 left-account ">
                <a href="single.html">
                    <img class="img-responsive " src="{{ url_for('static', filename='images/s1.jpg') }}" alt=""></a>
                <div class="five">
                    <h2>25% </h2><span>discount</span>
                </div>
                <a href="{{ url_for('signup') }}" class="create">Create an account</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

{% endblock %}
