{% extends "base_templates/base.html" %}

{% block container %}
<div class=" container">
        <div class="row account-top" style="padding:20px;">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6" style="border-radius:7px; padding: 20px; background: #eee; border: #ccc 1px solid;">
                <h3 class="login-title">Create a new Account</h3>
                {% include "form_messages.html" %}
                <form action="{{ url_for('signup') }}" method="POST">
                    <span>{{ form.hidden_tag() }}</span>
                    <input type="text" class="login-form-radius" name="first_name" required placeholder="First Name">
                    <input type="text" class="login-form-radius" name="last_name" required placeholder="Last Name">
                    <input type="email" class="login-form-radius" name="email" required placeholder="Email">
                    <input type="password" class="login-form-radius" name="password" required placeholder="Password">
                    <input type="password" class="login-form-radius" name="confirm_password" required placeholder="Re-password">
                    <input type="submit" class="login-form-radius" value="Signup" style="border-radius:7px; width:100%; height:50px; margin-bottom:10px;">
                </form>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
    </div>

{% endblock %}
